.has-feedback .form-control-feedback {
    top: 0;
    right: -26px;
}

.smart-form fieldset {
    padding: 25px 20px 5px;
 }

.has-feedback {
    position: initial;
}

.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    padding: 7px 10px;
}

/**
 * Nestable Draggable Handles
 */
.dd3-content {
    font-size: 13px;
}

.dd {
    overflow-y: visible;
    min-height: 300px;
}