.has-feedback .form-control-feedback {
    top: 0;
    right: -26px;
}

.smart-form fieldset {
    padding: 25px 20px 5px;
}

.has-feedback {
    position: initial;
}

.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    padding: 7px 10px;
}

/**
 * Nestable Draggable Handles
 */

.dd3-item.leaf .inner-selected {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 6px;
    overflow: hidden;
    border: 0px;
    background: #0091D9;
    height: 100%;
}

.dd3-item.leaf .dd3-content:hover .inner-selected {
    visibility: visible;
    background: rgba(0, 145, 217, 0.34);
}

.dd3-item.leaf.item-selected .inner-selected {
    visibility: visible;
}

.dd3-item.leaf.item-selected .dd3-content {
    background: rgba(0, 145, 217, 0.07);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.dd3-content {
    font-size: 13px;
    margin: -1px 0px 0px -1px;
}

.dd3-content:hover {
    color: inherit;
    background: inherit;
}

/*.dd3-item.leaf .dd3-content:hover {
    color: #ffffff;
    background: #0091D9;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}*/

.dd {
    overflow-y: visible;
    min-height: 300px;
    background: linear-gradient(to right, rgba(251, 238, 229, 1) 93%, rgba(219, 205, 196, 1) 100%) repeat scroll 0% 0% transparent;
}

.mCSB_inside > .mCSB_container {
    margin-right: 16px;
}

.skills-nav {
    position: absolute;
    width: 0px;
}

.skills-nav.activate {
    width: 33%;
}

.skills-nav > .dd {
    border-right: 1px solid #7A7A7A;
}

.skills-nav > span.minifyme {
    margin-top: 20px;
    right: 0px;
    border-bottom: 1px solid #302F2F;
    background: none repeat scroll 0% 0% #454545;
    color: #A8A8A8;
}

.skills-nav > span.minifyme:hover {
    padding-right: 3px;
    width: 39px;
    background: none repeat scroll 0% 0% #646464;
    color: #E4E4E4;
}

.evaluations-nav {
    margin-left: 0px;
}

.evaluations-nav.activate {
    margin-left: 33%;
}





