.has-feedback .form-control-feedback {
    top: 0;
    right: -26px;
}

.smart-form fieldset {
    padding: 25px 20px 5px;
}

.has-feedback {
    position: initial;
}

.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    padding: 7px 10px;
}

/**
 * Nestable Draggable Handles
 */

.dd3-item.leaf .inner-selected {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 6px;
    overflow: hidden;
    border: 0px;
    background: #0091D9;
    height: 100%;
}

.dd3-item.leaf .dd3-content:hover .inner-selected {
    visibility: visible;
    background: rgba(0, 145, 217, 0.34);
}

.dd3-item.leaf.item-selected .inner-selected {
    visibility: visible;
}

.dd3-item.leaf.item-selected .dd3-content {
    background: rgba(0, 145, 217, 0.07);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.dd3-content {
    font-size: 13px;
    margin: -1px 0px 0px -1px;
}

.dd3-content:hover {
    color: inherit;
    background: inherit;
}

/*.dd3-item.leaf .dd3-content:hover {
    color: #ffffff;
    background: #0091D9;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}*/

.dd {
    overflow-y: visible;
    min-height: 300px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 16px;
}

.skills-nav {
    position: absolute;
    width: 0px;
}

.skills-nav.activate {
    width: 50%;
}

.skills-nav > .dd {
    border-right: 1px solid #7A7A7A;
}

.skills-nav > span {
    border-radius: 0px 5px 5px 0px;
    padding: 2px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    display: block;
    width: 30px;
    background: none repeat scroll 0% 0% #7A7A7A;
    height: 30px;
    position: absolute;
    top: 0px;
    right: -30px;
}

.evaluations-nav {
    margin-left: 0px;
}

.evaluations-nav.activate {
    margin-left: 50%;
}





